/* Colors */
$bg-dark: #191919;
$bg-light: #fff;

$color-one: #333;
$color-two: #979797;
$color-three: #bababa;
$color-four: #e3e3e3;
$color-five: #f5f5f2;

$color-button: #f58220;
$color-hover: #ffa200;
$color-link: #56819F;

$color-tab-one: #80bfca;
$color-tab-two: #ff9a38;
$color-tab-three: #59b66d;

$color-online: #04ae00;

/* Font sizes */
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 13px;

$font-size-button: 18px;

/* Fonts */
$font-main: 'Roboto', sans-serif;
