.date {
  display: flex;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid $color-four;
  border-radius: 3px;
  font-family: $font-main;

  &:hover {
    cursor: pointer;
    border: 1px solid $color-two;

    .calendar {
      color: $color-one;
    }
  }

  input {
    flex: 0 0 45%;
    border: none;
    height: 20px;
    padding: 0 0 0 20px;
    margin: 10px 0 0 0;
    font-weight: 300;
    color: $color-one;
    overflow: hidden;

    &:nth-of-type(2){
      border-left: 1px solid $color-four;
    }

    &:focus {
      outline-width: 0;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.calendar {
  float: right;
  font-size: 13px;
  line-height: 40px;
  margin-top: 2px;
  color: $color-three;
}


@media(max-width: 420px) {
  .date {
    width: 100%;
    flex-wrap: wrap;
    height: 80px;

    input {
      flex: 0 0 100%;
      height: 50%;
      margin: 0;

      &:nth-of-type(2){
        border-left: none;
        border-top: 1px solid $color-four;
      }
    }
  }

  .calendar {
    display: none;
  }
}
