table {
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid $color-four;
    border-top: 1px solid $color-four;

    td {
      font-family: $font-main;
      font-size: $font-size-large;
      color: $color-two;
      font-weight: bold;
      padding: 20px 10px;

      &:nth-of-type(1) {
        width: 40%;
      }
    }

    &:hover {
      background-color: $color-five;
      cursor: pointer;

      .icons {
        opacity: 1;

        &:hover {
          color: $color-hover;
        }
      }
    }
  }
}

.icons {
  float: right;
  padding: 0 10px;
  opacity: 0;
}

@media(max-width: 640px) {
  table {
    width: 100%;
    border-bottom: 1px solid $color-four;

    tr {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 0;
      border-bottom: none;
      border-top: 1px solid $color-four;

      td {
        padding: 5px 5px;

        a,
        i {
          font-size: 13px;
        }

        &:nth-of-type(1) {
          flex: 0 0 70%;
          order: 1;
        }

        &:nth-of-type(2) {
          flex: 0 0 100%;
          order: 3;
        }

        &:nth-of-type(3) {
          flex: 0 0 30%;
          order: 2;
        }
      }
    }
  }

  .icons {
    opacity: 1;
    padding: 0 5px;
  }
}

@media(max-width: 830px) and (min-width: 641px) {
  table {
    tr {
      td {
        font-size: 14px;
        padding: 15px 0;

        &:nth-of-type(1) {
          width: 35%;
        }

        a,
        i {
          font-size: 14px;
        }
      }
    }
  }

  .icons {
    opacity: 1;
    padding: 0 5px;
  }
}
