.wrap-form,
.wrap-line-headings,
.wrap-charts,
.wrap-tabs,
.wrap-chart-image,
.wrap-links {
  padding: 40px 0;
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.wrap-charts,
.wrap-tabs,
.wrap-chart-image {
  padding: 20px 0;
}

.wrap-form,
.wrap-tabs,
.wrap-chart-image,
.wrap-links {
  justify-content: center;
}

.wrap-form {
  .btn-refresh {
    flex: 0 0 40px;
    padding: 0;
    text-align: center;
    margin: 0 0 0 10px;
  }
}

.wrap-line-headings {
  flex-wrap: wrap;
  justify-content: space-between;

  h3 {
    flex: 0 45%;
  }
}

.wrap-charts {
  flex-wrap: wrap;

  h2 {
    flex: 0 100%;
  }
}

.wrap-tabs {
  .tab {
    margin: 0 15px;
  }
}

.wrap-links {
  flex-wrap: wrap;
  padding: 0;

  .btn {
    margin: 20px 0;
  }

  table {
    width: 100%;
  }
}

@media(max-width: 992px) {
  .wrap-form,
  .wrap-line-headings,
  .wrap-charts,
  .wrap-tabs,
  .wrap-chart-image,
  .wrap-links {
    width: 70vw;
  }

  .wrap-form {
    .btn {
      align-self: center;
    }
  }

  .wrap-line-headings {
    h3 {
      flex: 0 95%;
    }
  }
}

@media(max-width: 700px) {
  .wrap-chart-image {
    display: block;
    width: 100%;
    overflow-x: auto;

    img {
      width: auto;
    }
  }
}

@media(max-width: 560px) {
  .wrap-tabs {
    flex-wrap: wrap;

    .tab {
      flex: 0 60%;
      margin: 10px 0;
    }
  }
}

