.wrapper {
  margin: 20px;
  background: $bg-light;
  box-shadow: 0px 0px 10px 0px $color-four;

  h1 {
    padding: 20px;
    margin: 0;
  }

  hr {
    margin: 0;
    height: 1px;
    background-color: $color-four;
    border: none;
  }
}
