.header {
  background: $bg-dark;
  position: relative;
  height: 60px;
}

.logo-wrapper {
  width: 80%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .hamburger {
    float: right;
  }

  i {
    color: $color-two;
    line-height: 23px;
    font-size: 22px;
    cursor: pointer;
    display: none;

    &:hover {
      color: $bg-light;
    }
  }

  .i-active {
    display: inline-block;
  }
}

@media(max-width: 992px) {
  .hamburger-small {
    display: inline-block;
  }

  .hamburger-large {
    display: none;
  }
}

@media(min-width: 992px) {
  .hamburger-small {
    display: none;
  }

  .hamburger-large {
    display: inline-block;
  }
}
