.sidebar {
  background: $bg-dark;

  ul {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
      width: 100%;
      padding: 10px 15px;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
        background: $color-one;
        box-shadow: inset 4px 0px 0px 0px $color-button;

        a, i {
          color: $bg-light;
        }
      }

      a, i {
        font-size: $font-size-medium;
        color: $color-two;
        vertical-align: middle;
      }

      i {
        padding: 0 10px 0 0;
      }
    }
  }
}

.manager {
  box-sizing: border-box;
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px;
  border-top: 1px solid $color-one;
  position: relative;

  h1, a {
    font-size: $font-size-medium;
  }
}

.wrap-manager {
  position: relative;
  margin: 20px 0 0 0;

  img {
    float: left;
  }

  span {
    position: absolute;
    top: 0px;
    left: 32px;
    width: 10px;
    height: 10px;
    background: $color-online;
    border-radius: 50%;
  }

  a {
    margin: 0 0 0 10px;
    line-height: 43px;
  }
}


.sidebar-topbar {
  margin: 20px 0;
  border-top: 1px solid $color-one;
}

.sidebar-topbar-list {
  margin: 20px 0 0 0;
  color: $color-two;
  font-family: $font-main;

  i {
    position: relative;

    &:nth-of-type(2){
      margin: 0 0 0 10px;
      font-size: 10px;
    }

    span {
      position: absolute;
      top: -3px;
      left: 8px;
      width: 8px;
      height: 8px;
      background: $color-button;
      border-radius: 50%;
    }
  }
}


@media(max-width: 992px) {
  .sidebar {
    height: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 1s all;
  }

  .sidebar-wrapper {
    width: 85vw;
    margin: 0 auto;
  }

  .active {
    height: calc(100vh - 60px);
  }

  .sidebar-topbar {
    display: block;
  }
}

@media(min-width: 992px) {
  .sidebar {
    display: block;
    height: calc(100vh - 60px);
    transition: 1s all;
    overflow: hidden;
  }

  .unactive {
    height: 0;
  }

  .sidebar-topbar {
    display: none;
  }
}
